* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, article, div {
    display: block;
}

body{
    height: 100%;
    width: 100%;
    background-color: #FD5842;
}

#Project-title
{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

#Project-title h1
{
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 26px;
    line-height: 30.47px;
}

main{
    display: flex;
}

#wrapper{
    width: 87.5vw;
    height: 77.7vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    background-image: url(../images/movies.png);
    background-color: rgba(0,0,0,0.75);
    background-blend-mode: darken;
}

#Picture-section{
    width: 337px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: -30px;
    border-radius: 5px;
}

#FirstLayer{
    width: 100%;
    height: 70%;
    background-color: #FD584233;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

#SecondLayer{
    width: 90%;
    height: 110%;
    background-color: #FD584280;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

#ThirdLayer{
    width: 90%;
    height: 110%;
    background-color: #FD5842B2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

#ChangingImage{
    width: 90%;
    height: 110%;
    background-color: white;
    border-radius: 5px;
    background-repeat: no-repeat;
}

#Form-section{
    width: 362px;
    height: 378px;
    background-color: #17193299;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 10px;
    display: grid;
    align-content: space-evenly;
    align-items: end;
}

.div-Input{
    height: 40px;
    margin-left: 10px;
}

Input{
    height: 100%;
    width: 95%;
}

#MovieDescription{
    height: 145px;
}

#MovieDescription-input{
    height: 100%;
    width: 95%;
}

#Plus{
    height: 54px;
    width: 54px;
    background-image:url(../images/Icon-plus.svg);
    background-repeat: no-repeat;
    justify-self: center;
    position: absolute;
    margin-bottom: -27px;
}

#Plus:hover{
    cursor: pointer;
}

#Table-section{
    width: 362px;
    height: 378px;
    background-color: #17193299;
    margin-top: 150px;
    margin-right: 50px;
    border-radius: 10px;
    overflow-y:auto;
}


table{
    width: 100%;
    border-color: #FFFFFF;
    border-collapse: collapse;
    border-spacing: 10px 5px;
}

tbody{
    width: 100%;
}

tr{
    width: 100%;
    height: 60px;
}

td{
    border-bottom:1px solid white;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
}

tr img{
    height: 18px;
    width: 18px;
}

tr img:hover{
    cursor: pointer;
}

